---
import Layout from "../../layouts/Layout.astro";

// imports
import PrimaryButton from "../../components/PrimaryButton.astro";
import WeddingCardUi from "../../components/WeddingCardUi.astro";

let first = 10;

// data fetching
const response = await fetch(
  "https://ap-southeast-2.cdn.hygraph.com/content/clk221xts0epd01uegwso9jj6/master",

  {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },

    body: JSON.stringify({
      query: `
        {
            weddings(first: ${first}) {
                title
                description
                mainImage {
                url
                }
                slug
            }
        }
    `,
    }),
  }
);

const weddings = await response.json();
---

<!-- ----------------------------------------- -->
<Layout title="" description="">
  <main>
    <section class="topSection">
      <h1>weddings</h1>
    </section>

    <section class="weddingsSection">
      <div class="weddingContainer">
        {
          weddings.data.weddings.map((wedding) => (
            <div class="item">
              <WeddingCardUi
                title={wedding.title}
                description={wedding.description}
                imgSrc={wedding.mainImage.url}
                imgAlt={wedding.title}
                slug={wedding.slug}
              />
            </div>
          ))
        }
      </div>

    </section>
  </main>
</Layout>

<!-- ---------------------------------------- -->

<style>
  #loadMore {
    cursor: pointer;
  }

  .weddingContainer {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
  }

  .topSection {
    padding-top: 15vh;
  }

  @media screen and (min-width: 1024px) {
    .weddingContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }

  @media screen and (min-width: 1440px) {
    .weddingContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (min-width: 2560px) {
    .weddingContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
</style>

<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const items = document.querySelectorAll(".item");

  // items.forEach(function (item) {
  gsap.from(".item", {
    scrollTrigger: ".item",
    yPercent: 20,
    // duration: 0.5,
    stagger: 0.5,
    opacity: 0,
    scale: 0.8,
  });
  // });
</script>
