---
import PackageGrid from "./PackageGrid.astro";
// dataaaaaas
const response = await fetch(
  "https://ap-southeast-2.cdn.hygraph.com/content/clk221xts0epd01uegwso9jj6/master",

  {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      query: `
        {
            packages(where: {type: Videography}) {
                packageName
                packageFeatures
                price
            }
        }
    `,
    }),
  }
);

const packages = await response.json();
---

<div class="packageGrid">
  {
    packages.data.packages.map((pack: any) => (
      <div class="gridItem">
        <h4 class="packageTitle">{pack.packageName}</h4>
        <ul>
          {pack.packageFeatures.map((features) => (
            <li>
              {features}
              <hr />
            </li>
          ))}
        </ul>
        <p class="packagePrice">${pack.price}</p>
      </div>
    ))
  }
</div>

<!-- {
  packages.data.packages.map((pack: any) => (
    <PackageGrid
      packageTitle={pack.packageName}
      features={pack.packageFeatures.map((features) => ({ features }))}
      price={pack.price}
    />
  ))
} -->

<style>
  li {
    list-style: square;
    padding: 0 0 0.5rem 0;
  }

  li > hr {
    margin: 0.5rem 0 0 0;
  }

  /* ------------ */
  .packageGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .gridItem {
    border: 1px solid black;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: clamp(50vh, 550, 100vh);
  }

  .packagePrice {
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }

  .packageTitle {
    margin: 0.5rem 0 0.5rem 0;
    text-decoration: underline;
  }
</style>
