---
import PrimaryButton from "../../components/PrimaryButton.astro";
import SecondaryButton from "../../components/SecondaryButton.astro";
import Layout from "../../layouts/Layout.astro";

// datas
export async function getStaticPaths() {
  const response = await fetch(
    "https://api-ap-southeast-2.hygraph.com/v2/clk221xts0epd01uegwso9jj6/master",
    {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({
        query: `
        {
          services {
            title
            slug
            description
            providedServices {
              html
            }
            mainImage {
              url
            }
            serviceList {
              html
            }
          }
        }
      `,
      }),
    }
  );
  const services = await response.json();
  const paths = services.data.services.map((service) => ({
    params: {
      slug: service.slug,
    },
    props: {
      service,
    },
  }));

  return paths;
}

const service = Astro.props.service;
---

<Layout title={service.title} description="">
  <main>
    <section class="topSection">
      <h1>{service.title}</h1>
      <img class="serviceImage ukiyo" src={service.mainImage.url} alt={service.title} />
    </section>

    <section class="description">
      <p>{service.description}</p>
    </section>

 

    <section class="serviceContainer">
      <div>
        <h2>included services</h2>
        <ul class="listContainer">
          {
            service.serviceList.map((services: any) => (
              <li class="serviceListItem">
                <Fragment set:html={services.html} />
                <hr />
              </li>
            ))
          }
        </ul>
      </div>
    </section>

    <section class="ctaSection">
      <h3>Needs something else?</h3>
      <div class="buttons">
        <SecondaryButton link="/contact-us" buttonText="reach us" />
      </div>
    </section>

    
  </main>
</Layout>

<style>
  .topContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .topSection {
    display: flex;
    align-items: center;
  }


    .topSection {
      padding-top: 15vh;
    }


  .serviceContainer {
    max-width: 800px;
    margin: 0 auto;
  }

  .serviceListItem {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem 0 0.5rem 0;
    font-family: sans-serif;
  }

  .serviceImage {
    margin: 0 auto;
  }

  hr {
    margin: 0.5rem 0 0 0;
  }

  .ctaSection {
    background-color: var(--black);
    color: white;
    text-align: center;
    margin: 1rem;
  }

  h2 {
    margin: 1rem 0 2rem 0;
  }

  p {
    margin: 0 auto;
  }


</style>
